
* {
  box-sizing: border-box;
}

/* HEADER TOP BAR START */
#headerbar{
  position: fixed;
  width: 100%;
}
#logo{
  margin-left: 3%;
}

ul.topnav {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #004e89;
}
#topnav-search, #topnav-categories{
  display: none;
}
ul.topnav li {
  float: right;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}
  
ul.topnav li a:hover {
  color: #ff6b35;
}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    display: inline-block;
  }
  #topnav-search,#topnav-categories{
    display: block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav#wallzone {position: relative;}
  ul.topnav#wallzone li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav#wallzone li {
    float: none;
    display: inline;
  }
  ul.topnav#wallzone li a {
    display: block;
    text-align: center;
  }
}
/* HEADER TOP BAR END */

/* SEARCHBAR START */
#searchbox{
  width: auto;
  height: 30%;
  background: #004e89;
  margin-left: 15%;
}
form.example{
  margin: auto; 
  max-width: 600px;
}
form.example input[type=text] {
  margin: 100px 0px 30px 0px;
  padding: 10px;
  float: left;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 5px 0px 0px 5px;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  margin: 100px 0px 30px 0px;
  float: left;
  width: 20%;
  padding: 10px;
  background: #ff6b35;
  color: white;
  font-size: 17px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #004e89;
  color: #ff6b35;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width:900px) {
  form.example{
    max-width: 400px;
  }

  form.example input[type=text]{
    padding: 7px;
  }

  form.example button{
    padding: 7px;
  }
}

@media screen and (max-width:680px){
  #searchbox{
    margin-left: 0px;
  }
}
/* SEARCHBAR END */
/* Quicklink start */
#quickbar{
  height: 5%;
  background-color: #ff6b35;
  justify-content: space-between;
  margin-left: 250px;
}
#quick-nav-links{
  list-style: none;
}
#quick-nav-links li{
  display: inline-block;
  padding: 13px 10%;
}
#quick-nav-links li a{
  color: aliceblue;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

#quick-nav-links li a:hover{
  color: #0b7dda;
}
@media screen and (max-width:900px){
  #quickbar{
    margin-left: 200px;
  }
}
@media screen and (max-width:680px){
  #quick-nav-links li{
    display: block;
  }
  #quickbar{
    margin-left: 0%;
  }
}
/* Quicklink end */

/* sidenav start */
#sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  background-color: #f1f1f1;
  overflow-x: hidden;
  padding-top: 10px;
  top: 55px;
}

#sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #d8cbcb;
  display: block;
}
#sidenav h4{
  font-size: 25px;
  font-family: "Lucida Console", Courier, monospace;
  color: #ff6b35;
  letter-spacing: 5px;
  display: block;
  padding: 15px 0px 15px 16px;
}
#sidenav a:hover {
  color: #ff6b35;
}
@media screen and (max-width:900px){
  #sidenav {
   width: 200px;
  }
  #sidenav h4{
    font-size: 18px;
  }
  #sidenav a{
    font-size: 13px;
  }
}

@media screen and (max-width:680px){
  #sidenav{
    display: none;
  }
}
/* sidenav end */

/* wallpapaer zone start */
#wall{
  margin: 2% 2% 2% 260px;
  background-color: #f7c59f;
  height: 650px;
}

#wall h3{
  text-align: center;
  color: #004e89;
  font-family: cursive;
  letter-spacing: 20px;
  text-shadow: -2px -1px 3px black;
  padding: 16px;
}
#wall div{
  width: 31%;
  height: 260px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  display: inline-block;
  margin: 0% 0% 1% 1%;
}
#wall img{
  padding: 3px;
  width: 100%;
  height: 88%;
  object-fit: cover;
}
#wall #download{
  border: none;
  float: right;
  background: none;
  margin: 5px 5px 0px 5px;
}

#wall #like{
  border: none;
  float: right;
  margin: 5px 0px 0px 5px;
  background: none;
}

#wall #auther{
  text-decoration: none;
  padding: 0 0 0 4px;
  font-size: 12px;
}

@media screen and (max-width:900px){
  #wall{
    margin-left: 210px;
  }
}
@media screen and (max-width:680px){
  #wall img{
    background-color: aqua;
    width: 90%;
    height: 30%;
    object-fit: cover;
  }
}

/* Wallpaperzone end */
/* category zone start */

#wall{
  margin: 2% 2% 2% 260px;
  background-color: #f7c59f;
  height: 650px;
}

#wall h3{
  text-align: center;
  color: #004e89;
  font-family: cursive;
  letter-spacing: 20px;
  text-shadow: -2px -1px 3px black;
  padding: 16px;
}

#catzone{
  margin: 2% 1% 0% 16%;
  background-color: #f7c59f;
  height: 750px;
}

#catzone ul li{
  margin-top: 2%;
  display: inline-block;
  list-style: none;
}

#catzone h3{
  text-align: center;
  padding: 2% 0% 0% 0%;
}
/* category zone end */